.elevator-pitch-container {
	width: 100%;
	margin: 0;
	padding-top: 30px;
}

h3.welcome{
	display: inline;
	padding: 10px 10px 5px 10px; 
	background-color: rgb(64,255,177);
	color: black;
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	margin: 0;
}

p.elevator-pitch {
	margin: 20px 0;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}




@media (max-width: 950px) {
	
}