/* Styles for the main container */
.navbar-inverse {
	margin-bottom: 0;
	background-color: rgba(0,0,0,0);
	border: none;
	border-bottom: 2px solid rgb(75,75,75);
}

/* Styles for the logo */
.navbar>.container-fluid .navbar-header .navbar-brand {
	min-height: 150px;
	min-width: 190px;
	color: rgba(64,255,177,0);
}

/* Styles for the color of the toggle button */
.navbar>.container-fluid .navbar-header button {
	margin: 55px 25px;
}
button.navbar-toggle.collapsed,
button.navbar-toggle.collapsed:hover,
button.navbar-toggle.collapsed:focus {
	background-color: black;
	border-color: rgb(64,255,177);
  border-width: 2px;
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: rgb(64,255,177);
    border-color: rgb(50,50,50);
  	border-width: 2px;
  	border-style: solid;
}

/* Styles for the lines inside of the toggle button */
.navbar-inverse .navbar-toggle.collapsed .icon-bar {
    background-color: rgb(64,255,177);
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

/* Styles for the container of the links in right when collapsed */
ul.nav.navbar-nav.navbar-right {
	margin: 64px 0;
}
ul.nav.navbar-nav.navbar-right li a{
	color: rgb(153,153,153);
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	padding: 15px 15px;
}
ul.nav.navbar-nav.navbar-right li a:hover{
	color: rgb(35,249,148);
}
ul.nav.navbar-nav.navbar-right li a:active{
	color: rgb(35,249,148);
}

/* Styles for the container that hold the links in dropdown */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-top: 2px solid rgb(153,153,153);
}
.nav.navbar-nav.collapse.in .navbar-right ul {
	margin: 30px 25px;
}
@media (max-width: 767px) {
	ul.nav.navbar-nav.navbar-right {
		margin: 5px 5px;
	}
	ul.nav.navbar-nav.navbar-right li:hover {
		background-color: rgb(35,249,148);
	}
	ul.nav.navbar-nav.navbar-right li a{
		color: rgb(153,153,153);
		font-size: 1.5em;
		letter-spacing: 0px;
	}
	ul.nav.navbar-nav.navbar-right li a:hover{
		color: rgb(153,153,153);
	}
	ul.nav.navbar-nav.navbar-right li a:focus{
		color: rgb(153,153,153);
	}
}

@media(max-width: 960px) {
	ul.nav.navbar-nav.navbar-right li a{
		padding: 15px 8px;
	}
}
