.main-container {
	display: flex;
	justify-content: space-between;
}

.left-panel {
	width: 50%;
}

.right-panel {
	margin-top: 15px;
	box-sizing: border-box;
	width: 50%;
	padding: 20px;
}



@media (max-width: 767px) {
	
	
	.left-panel {
		width: 100%;
	}

	.right-panel {
		width: 100%;
	}
}

@media (max-width: 960px) {
	.left-panel {
		width: 100%;
	}
	.right-panel {
		width: 100%;
	}
	.main-container {
		display: flex;
		flex-direction: column;
	}
}