#myPic {
	background-image: url('./me.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 400px;
}

.pitch-and-pic-container {
	background-color: rgb(64, 255, 200);
}

.last-updated {
	color: red;
}
