.contact-header {
	background-color: rgb(30,30,30);
}

.contact-header h1{
	font-size: 210px;
	color: rgb(64,255,200);
	text-align: center;
}

.contact-header h2{
	font-size: 30px;
	color: rgb(64,255,200);
	text-align: center;
}

@media (max-width: 1199px) and (min-width: 992px) {
	.contact-header h1{
		font-size: 177px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.contact-header h1{
		font-size: 135px;
	}
}

@media (max-width: 767px) {
	.contact-header h1{
		font-size: 72px;
	}
}