#logo {
	margin: 20px 0 20px 20px;
}

.navbar-brand {
    padding: 0;
}

.navbar {
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar .container {
	border-bottom: 1px solid rgb(100,100,100);
}

@media (max-width: 767px) {
	#logo {
		margin-top: 20px;
	}
}

.navbar-nav>li{
  overflow: hidden;
}

.navbar-nav>li>a:hover {
  color: rgb(64,255,200) !important;
}

.navbar-nav>li>a:focus,
.navbar-nav>li>a:active {
  color: rgb(64,255,200) !important;
}

.navbar-nav>li.active>a{
  color: rgb(64,255,200) !important;
  background-color: rgb(30,30,30) !important;
}

.navbar-nav>li>a {
  padding: 27px 20px 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  color: white !important;
}

.navbar-inverse {
  background-color: rgb(30,30,30);
  border-color: #000;
}

.navbar-toggle {
    margin-top: 16px;
    margin-bottom: 16px;
}

.social-media-links>a {
	padding-top: 22px !important;
	padding-left: 15px !important;
	padding-right: 0px !important;
	
}

.social-media-links>a>span {
	color: rgb(64,255,200) !important;
}