.footer {
	background-color: rgb(30,30,30);
}

.footer p{
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	text-align: right;
	padding: 17px;
	color: rgba(64, 255, 200, .5);
	margin-bottom: 0;
}