@import url("http://fonts.googleapis.com/css?family=Quicksand");
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
	background-color: rgb(30,30,30);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
