#logo {
	margin: 25px 0;
}

.navbar-brand {
    padding: 0;
}

.navbar {
	min-height: 110px;
	border: none;
	border-radius: 0;
}

@media (min-width: 768px) {
	
}

.navbar-nav>li{
  overflow: hidden;
}

.navbar-nav>li>a:hover {
  color: black !important;
  background-color: white !important;
}

.navbar-nav>li>a:focus,
.navbar-nav>li>a:active {
  color: rgb(64, 255, 177) !important;
}

.navbar-nav>li.active>a{
  color: rgb(0, 255, 200) !important;
}

.navbar-nav>li>a {
  padding: 45px 20px 45px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  letter-spacing: -1px;
  transition: all 0.3s ease-in-out;
  color: white !important;
}

.navbar-inverse {
  background-color: #000;
  border-color: #000;
}

.navbar-toggle {
    margin-top: 39px;
    margin-bottom: 40px;
}